@charset "utf-8";
/* CSS Document */

body{
	background-color:#FFFFFF;
		
}

a{
	text-align: center;
}

.mensaje{
	vertical-align: middle;
	width: 100%;
	text-align: center;
}

.img_foto{
	height: 210px;
	width: 280px;
	border-top-style: ridge;
	border-right-style: ridge;
	border-bottom-style: ridge;
	border-left-style: ridge;	
}

.imagen_cabecera{
	height: 200px;
	width: 100%;
	background-color: #FFFFFFF;
}
.menu {
	margin-top: 10px;
	position: static;
	text-align: center;
	list-style: none;
	font-family: Verdana, Geneva, sans-serif;
	font-size: large;
	font-style: normal;
	line-height: normal;
	background: rgba(91,166,236,0.67);
	background: -moz-linear-gradient(top, rgba(91,166,236,0.67) 0%, rgba(91,166,236,0.85) 55%, rgba(45,132,230,0.91) 72%, rgba(45,132,230,1) 99%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(91,166,236,0.67)), color-stop(55%, rgba(91,166,236,0.85)), color-stop(72%, rgba(45,132,230,0.91)), color-stop(99%, rgba(45,132,230,1)));
	background: -webkit-linear-gradient(top, rgba(91,166,236,0.67) 0%, rgba(91,166,236,0.85) 55%, rgba(45,132,230,0.91)   72%, rgba(45,132,230,1) 99%);
	background: -o-linear-gradient(top, rgba(91,166,236,0.67) 0%, rgba(91,166,236,0.85) 55%, rgba(45,132,230,0.91) 72%, rgba(45,132,230,1) 99%);
	background: -ms-linear-gradient(top, rgba(91,166,236,0.67) 0%, rgba(91,166,236,0.85) 55%, rgba(45,132,230,0.91) 72%, rgba(45,132,230,1) 99%);
	background: linear-gradient(to bottom, rgba(91,166,236,0.67) 0%, rgba(91,166,236,0.85) 55%, rgba(45,132,230,0.91) 72%,      rgba(45,132,230,1) 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ba6ec', endColorstr='#2d84e6', GradientType=0 );
	vertical-align: middle;
	overflow: hidden;
	margin-right: 15px;
	margin-left: 15px;
	border-radius: 15px;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #3399CC;
}

.menu .nav {
	margin-left: 55px;
	vertical-align: middle;
}

.menu .nav li {
	display:inline
}

.menu .nav li a {
	margin: 20px;
	text-decoration: none;
	outline: none;
	color: #FFFFCC;	
}

.menu .nav li a:hover {
	color: #FFFF00;
}

.cuerpo{
	background-color: #FFFFFF;
	display: block;
	margin-top: 30px;
	margin-right: 15px;
	margin-bottom: 0px;
	margin-left: 15px;
}

.cuerpo div h3{
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
	display: block;		
}

.pie {
	font-family: Verdana, Geneva, sans-serif;
	color: #000000;
	background-color: #66CCCC;
	margin-right: 15px;

	margin-bottom: 15px;
	margin-top: -15px;
	border-radius: 15px;
	vertical-align: middle;	
	width: 100%;
}



.celda{
	style="border-color: #FFFFFF;
	margin: 15px;
	border: 3px ridge #EBEBEB;
	cursor: none;
}



.foto{
	height: 420px;
	width: 560px;
	border-top-width: 15px;
	border-right-width: 15px;
	border-bottom-width: 15px;
	border-left-width: 15px;
	border-top-style: ridge;
	border-right-style: ridge;
	border-bottom-style: ridge;
	border-left-style: ridge;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -210px;
	margin-left: -280px;
}

.foto_sencilla{
	height: 420px;
	width: 560px;
	border-style: ridge;
	position: relative;
	text-align: center;
	vertical-align:middle;	
	display: block;
	margin:auto;
	
	
}
